In [1]:
""" Map click_id from old test to new test.csv
"""

import os
import pandas as pd

In [2]:
!ls ../input

sample_submission.csv	   train_partaa  train_partai  train_partaq
sample_submission.csv.zip  train_partab  train_partaj  train_partar
test.csv		   train_partac  train_partak  train_partas
test.csv.zip		   train_partad  train_partal  train_sample.csv
test_v0.csv		   train_partae  train_partam  train_sample.csv.zip
train_20171109.csv	   train_partaf  train_partan
train.csv		   train_partag  train_partao
train.csv.zip		   train_partah  train_partap

In [2]:
DTYPES = {
    'ip'            : 'uint32',
    'app'           : 'uint16',
    'device'        : 'uint16',
    'os'            : 'uint16',
    'channel'       : 'uint16',
    'is_attributed' : 'uint8',
    'click_id'      : 'uint32'
}

test = pd.read_csv('../input/test.csv', dtype=DTYPES, parse_dates=['click_time'])
test_v0 = pd.read_csv('../input/test_v0.csv', dtype=DTYPES, parse_dates=['click_time'])

In [3]:
test.set_index(['ip', 'app', 'device', 'os', 'channel', 'click_time'], inplace=True)

In [4]:
test_v0 = test_v0.rename(columns={'click_id': 'click_id_v0'})
test_v0.set_index(['ip', 'app', 'device', 'os', 'channel', 'click_time'], inplace=True)

In [8]:
out = test.join(test_v0, how='left')

In [10]:
out = out.sort_values(by='click_id')

In [11]:
out.head()

                                                  click_id  click_id_v0
ip     app device os channel click_time
5744   9   1      3  107     2017-11-10 04:00:00         0     21290878
119901 9   1      3  466     2017-11-10 04:00:00         1     21290876
72287  21  1      19 128     2017-11-10 04:00:00         2     21290877
78477  15  1      13 111     2017-11-10 04:00:00         3     21290879
123080 12  1      13 328     2017-11-10 04:00:00         4     21290880

In [12]:
out[['click_id', 'click_id_v0']].to_csv('test_mapping.csv', index=False)

In [13]:
out.sample(20)

                                                  click_id  click_id_v0
ip     app device os channel click_time
39227  3   1      25 452     2017-11-10 10:11:19   9769734     39245497
1040   2   1      15 401     2017-11-10 13:55:26  15274607     51068398
52782  2   1      25 237     2017-11-10 09:09:51   6713554     36189317
122616 12  1      14 340     2017-11-10 04:38:53   2198111     23488988
99181  18  1      25 107     2017-11-10 04:05:23    298275     21589151
46721  15  1      8  480     2017-11-10 04:19:12   1091515     22382391
95527  9   2      13 215     2017-11-10 04:02:49    157339     21448215
103092 17  1      18 128     2017-11-10 09:20:05   7214469     36690232
123776 12  1      19 178     2017-11-10 09:32:26   7811903     37287668
63283  9   1      19 442     2017-11-10 04:41:49   2359336     23650212
93263  3   1      26 402     2017-11-10 14:05:04  15812276     51606066
79012  2   1      22 205     2017-11-10 13:48:51  14908581     50702370
56511  3   1      17 130     2017-11-10 09:24:55   7450476     36926239
48637  25  1      19 259     2017-11-10 13:53:32  15166711     50960778
52780  9   1      22 334     2017-11-10 13:36:25  14218589     50012379
14184  12  1      36 259     2017-11-10 14:02:11  15664275     51458066
2293   12  1      19 140     2017-11-10 14:17:01  16479695     52273485
96751  3   1      19 137     2017-11-10 10:43:53  11480725     40956488
75931  3   1      13 424     2017-11-10 13:37:20  14267438     50061228
74013  15  1      19 265     2017-11-10 13:37:38  14283689     50077479

In [16]:
test_v0.reset_index(inplace=True)

In [25]:
test_v0.reset_index(inplace=True)

In [27]:
test_v0[test_v0.click_id_v0==51458066]

          click_id_v0     ip  app  device  os  channel          click_time
51458066     51458066  14184   12       1  36      259 2017-11-10 14:02:11

In [28]:
test_v0[test_v0.click_id_v0==23488988]

          click_id_v0      ip  app  device  os  channel          click_time
23488988     23488988  122616   12       1  14      340 2017-11-10 04:38:53

In [29]:
test_v0[test_v0.click_id_v0==54584254]

          click_id_v0     ip  app  device  os  channel          click_time
54584254     54584254  88046   23       1  37      153 2017-11-10 15:00:00